@{
}

<div class="container overflow-hidden">
    <div class="row gy-5">
        <div class="col-6">
            <div class="p-3 border bg-light"><a class="text-dark nav-link" asp-controller="Rol" asp-action="Index">Roles</a></div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light"><a class ="text-dark nav-link" asp-controller="Client" asp-action="Index">Clientes</a></div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light"><a class="text-dark nav-link" asp-controller="Provider" asp-action="Index">Proveedores</a></div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light"><a class="text-dark nav-link" asp-controller="Machine" asp-action="Index">Maquinarias</a></div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light"><a class="text-dark nav-link" asp-controller="Product" asp-action="Index">Productos</a></div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light"><a class="text-dark nav-link" asp-controller="Report" asp-action="Index">Reportes</a></div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light"><a class="text-dark nav-link" asp-controller="UserDev" asp-action="Index">Usuarios</a></div>
        </div>
    </div>
</div>